name: Github CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x # Support 16 and later
      - run: npm ci
      - run: npm run lint
      - run: npm run test
